.login-wrapper {
  display: flex;
  height: 100vh;
  font-family: "Segoe UI", sans-serif;
}

/* Left Section */
.login-left {
  flex: 1;
  background-color: #f3f6fb;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-image {
  width: 80%;
  max-width: 600px;
  height: auto;
  object-fit: contain;
}

/* Right Section */
.login-right {
  flex: 1;
  background: #f5f7fa;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  width: 400px;
  background: #ffffff;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

.login-card h1 {
  font-weight: 700;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 14px;
  color: #777;
  margin-bottom: 30px;
}

.custom-input {
  border-radius: 8px;
  padding: 10px;
}

.login-btn {
  background-color: #00b4a6 !important;
  border: none !important;
  padding: 12px;
  border-radius: 30px !important;
  font-weight: 600;
  margin-top: 10px;
  color: white !important;
}

.login-btn:hover {
  background-color: #009e90 !important;
}

.error-text {
  color: red;
  margin-top: 10px;
}